@model IEnumerable<Entity.Product_Entity>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="info2">
    <div class="container">
        <section>
            @foreach (var item in Model)
            {
                <article>

                    <img src="~/Product/RetrieveImage?Prod_Int_Id=@item.Prod_Int_Id" alt="" height=100 width=200 />

                    @Html.DisplayFor(modelItem => item.Prod_Name)
                    <br />
                    @Html.DisplayFor(modelItem => item.Prod_Sale_P)
                    <br />
                    @Html.DisplayFor(modelItem => item.Prod_Cant)
                </article>
            }
        </section>
    </div>
</div>